[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
werkzeug = "*"

[dev-packages]
requests = "*"
django = "*"
flask = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
codecov = "*"

[requires]
python_version = "3.6"
